<h1>店舗情報を編集する</h1>

<%= form_with model: @shop, local: true do |f| %>
    <div>
      <%= f.label :name, "店名" %><br>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :address, "住所" %><br>
      <%= f.text_field :address %>
    </div>

    <%= f.submit "更新する" %>
<% end %>

<%= link_to "戻る", shop_path(@shop) %>

