<h1><%= @shop.name %></h1>
<p>♡ <%= @shop.shop_favorites.count %> 件のお気に入り</p>
<p>住所：<%= @shop.address %></p>
<p>ジャンル：<%= @shop.genre.name %></p>

<% if user_signed_in? %>
  <% if current_user.shop_favorites.exists?(shop_id: @shop.id) %>
    <%= link_to shop_shop_favorite_path(@shop), 
        data: { turbo_method: :delete, turbo_confirm: "お気に入りを解除しますか？" },
        class: "btn btn-outline-danger" do %>
      ♥ お気に入り解除
    <% end %>
  <% else %>
    <%= link_to shop_shop_favorite_path(@shop), 
        data: { turbo_method: :post },
        class: "btn btn-outline-primary" do %>
      ♡ お気に入り登録
    <% end %>
  <% end %>  
<% end %>

<%= link_to "編集する", edit_shop_path %>
<%= link_to "一覧に戻る", shops_path(@shop) %>
<%= link_to "削除する", shop_path(@shop), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>